[Unit]
Description=Embybot
After=network.target
After=mysqld.service
Wants=network.target

[Service]
WorkingDirectory=/root/EmbyBot
ExecStart=python3 /root/EmbyBot/embybot.py
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
